* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Neucha',
cursive;
font-family: 'Open Sans',
sans-serif; */

/* main vars */
:root {
  --white: white;
  --black: black;
  --orange: #fe8a02;
  --grey: #908d8b;
  --dark-grey: #2a2626;
  --background-light: #f5f4f0;
  --background-dark: #b09a81;
  --background-very-dark: #42413c;
}
/* end main vars */

h1 {
      font-weight: normal;
      font-size: 72px;
      font-family: "Neucha",
      sans-serif;
      line-height: 1.2em;
}


/* header */
.main-header {
  position: relative;
  background: var(--background-light);
}

.header-title {
  position: relative;
  
}
.header-img {

}
/* template bg  */
.bg-questions-template::before {
 position: absolute;
 width: 100%;
 height: 100%;
 background-image: url(../img/bg-header.png);
 background-repeat: no-repeat;
 background-size: cover;
 opacity: 10%;
 content: "";
}
/* end template bg */

.main-header__title {
  display: flex;
}
.header-title__element {
 color:var(--orange)
}

/* end header */